<!DOCTYPE html>
<html>
<head> 
	<title>Google Clone</title>

	<link href="../styles/main.css" rel="stylesheet" type="text/css" media="screen"/>
</head>

<body>
	<!--Header Nav Bar-->
	<ul class="nav-bar">
		<li><a href="mail.google.com">Gmail</a></li>
		<li><a href="#">Images</a></li>
		<li><a href="#"><img src="../images/jessie.jpg" class="profile-pic"></a></li>
	</ul>

	<div class="content">
		<!--Logo-->
		<img src="../images/holi-festival.gif" class="logo">

		<!--Search Bar and Buttons-->
		<div class="search-form">
			<input type="text" name="search" class="search-box">
			</br>
			<div class="buttons">
				<input type="Submit" name="search" class="search-buttons">
				<input type="Submit" name="lucky" class="search-buttons">
			</div>
		</div>
	</div>
</body>
</html>